resources/views/procurement.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:ax29="http://po.minecofin.vo.hub.roneps.minecofin.rw/xsd"
  xmlns:ns="http://po.minecofin.service.hub.roneps.minecofin.rw"
  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:ns1="http://org.apache.axis2/xsd"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://po.minecofin.service.hub.roneps.minecofin.rw">
  <wsdl:documentation> Please Type your service description here </wsdl:documentation>
  <wsdl:types>
    <xs:schema targetNamespace="http://po.minecofin.vo.hub.roneps.minecofin.rw/xsd" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xs:complexType name="PoInfoRequest">
        <xs:sequence>
          <xs:element name="budgetLineNumber" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="commitmentType" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="contractNumber" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="costCenter" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="creationDate" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="currencyCode" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="deliveryScheduleNumber" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="deliveryScheduleSeqNo" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="department" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="economicInput" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="exchangeRate" minOccurs="0" type="xs:decimal" nillable="true"/>
          <xs:element name="fiscYr" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="funding" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="id" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="jsonStr" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="output" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="password" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="plannedDNdate" minOccurs="0" type="xs:dateTime" nillable="true"/>
          <xs:element name="poDocument" maxOccurs="unbounded" minOccurs="0" type="ax29:PoDocument" nillable="true"/>
          <xs:element name="poItem" maxOccurs="unbounded" minOccurs="0" type="ax29:PoItem" nillable="true"/>
          <xs:element name="procuringEntityCode" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="procuringEntityName" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="procuringEntityTIN" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="program" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="purchaseOrderNumber" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="purchaseOrderStatus" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="supplierAddress" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="supplierName" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="supplierTIN" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="tenderNumber" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="totalAmount" minOccurs="0" type="xs:decimal" nillable="true"/>
          <xs:element name="totalTaxAmount" minOccurs="0" type="xs:decimal" nillable="true"/>
          <xs:element name="totalTaxAmountInWords" minOccurs="0" type="xs:string" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PoDocument">
        <xs:sequence>
          <xs:element name="contentType" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="documentName" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="documentNumber" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="fileContent" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="fileFullPath" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="fileName" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="poNumber" minOccurs="0" type="xs:string" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PoItem">
        <xs:sequence>
          <xs:element name="classificationId" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="classificationName" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="deliveryItemId" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="deliveryItemName" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="deliveryScheduleNumber" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="deliveryScheduleSeqNo" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="purchaseOrderNumber" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="quantity" minOccurs="0" type="xs:decimal" nillable="true"/>
          <xs:element name="taxAmount" minOccurs="0" type="xs:decimal" nillable="true"/>
          <xs:element name="taxRate" minOccurs="0" type="xs:decimal" nillable="true"/>
          <xs:element name="totalLocalCurrency" minOccurs="0" type="xs:decimal" nillable="true"/>
          <xs:element name="totalTaxInclusive" minOccurs="0" type="xs:decimal" nillable="true"/>
          <xs:element name="unitMeasurementCode" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="unitPrice" minOccurs="0" type="xs:decimal" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PoInfoResponse">
        <xs:sequence>
          <xs:element name="resultCode" minOccurs="0" type="xs:string" nillable="true"/>
          <xs:element name="resultMessage" minOccurs="0" type="xs:string" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax210="http://po.minecofin.vo.hub.roneps.minecofin.rw/xsd" targetNamespace="http://po.minecofin.service.hub.roneps.minecofin.rw" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xs:import namespace="http://po.minecofin.vo.hub.roneps.minecofin.rw/xsd"/>
      <xs:element name="getPoInformation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="poInfoRequest" minOccurs="0" type="ax210:PoInfoRequest" nillable="true"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPoInformationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="ax210:PoInfoResponse" nillable="true"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getPoInformationRequest">
    <wsdl:part name="parameters" element="ns:getPoInformation"/>
  </wsdl:message>
  <wsdl:message name="getPoInformationResponse">
    <wsdl:part name="parameters" element="ns:getPoInformationResponse"/>
  </wsdl:message>
  <wsdl:portType name="POInfoServicePortType">
    <wsdl:operation name="getPoInformation">
      <wsdl:input message="ns:getPoInformationRequest" wsaw:Action="urn:getPoInformation"/>
      <wsdl:output message="ns:getPoInformationResponse" wsaw:Action="urn:getPoInformationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="POInfoServiceSoap11Binding" type="ns:POInfoServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getPoInformation">
      <soap:operation soapAction="urn:getPoInformation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="POInfoServiceSoap12Binding" type="ns:POInfoServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getPoInformation">
      <soap12:operation soapAction="urn:getPoInformation" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="POInfoServiceHttpBinding" type="ns:POInfoServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getPoInformation">
      <http:operation location="POInfoService/getPoInformation"/>
      <wsdl:input>
        <mime:content type="text/xml" part="getPoInformation"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="getPoInformation"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POInfoService">
    <wsdl:port name="POInfoServiceHttpSoap11Endpoint" binding="ns:POInfoServiceSoap11Binding">
      <soap:address location="http://197.243.18.138:8084/roneps-hub/services/POInfoService.POInfoServiceHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="POInfoServiceHttpSoap12Endpoint" binding="ns:POInfoServiceSoap12Binding">
      <soap12:address location="http://197.243.18.138:8084/roneps-hub/services/POInfoService.POInfoServiceHttpSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="POInfoServiceHttpEndpoint" binding="ns:POInfoServiceHttpBinding">
      <http:address location="http://197.243.18.138:8084/roneps-hub/services/POInfoService.POInfoServiceHttpEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
